html { 
  margin:0;
  padding:0;
  background: url('hungry.jpg') no-repeat center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
	background-color:#D8D8D8  !important;
}

html ul,html li{
	margin:0;
	padding:0;
}
html a{
	color:#D8D8D8;
	text-decoration:none;
}

html {
	overflow-y: scroll;
}
.content-text h2{
	background-color: #D8D8D8;
}
.content-text{
	background-color: #D8D8D8;
}
.clear{
	clear:both;
	background-color: #D8D8D8;
}

.content h1{
    text-align:center;
    background: #D8D8D8;
}

.content p{
	text-align:justify;
}
