.menu-bar{
  z-index:100;
  border-bottom:1px solid #1E1E1E;
}

.menu-bar .menu{
  width:70%;
  margin:0 15%;
}

.menu-bar .menu li{
  width:20%;
  list-style-type:none;
  color:#D8D8D8;
  text-align:center;
  transition:all 0.5s;
}

.menu-bar .menu li:hover{
  background:#000;
  color:#D8D8D8;
  transition: background 0.5s;
}

.menu-bar .menu li.active{
  color:#D8D8D8;
}

.content-container{
  z-index:1;
}

.content{
  padding:2% 0 10% 0;
  background:#D8D8D8;
}

#content-1,#content-2,#content-3,#content-4,#content-5{
  display:none;
}

.content-text{
  width:90%;
  padding:0 5%;
}

.footer{
  z-index:10;
  height:20px;
  line-height:100%;
  width:90%;
  color:#D8D8D8;
  padding:10px 5%;
}

.arrow-container{
  width:105px;
  margin:10px auto;
}

.arrow{
  margin:0 5px 0 0;
  width:16px;
  height:16px;
  background:#CCC;
}

.round{
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  -o-border-radius:100px;
  border-radius:100px;
}

.arrow-container .active{
  background:#5b5f64;
}

.menu-bar,.menu-bar ul,.menu-bar .menu a{
  width:100%;
}

.menu-bar,.menu-bar .menu,.menu-bar .menu li{
  height:40px;
  line-height:40px;
}

.menu-bar,.menu-bar .menu li,.footer,
.menu-bar .menu li:hover{
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.menu-bar,.menu-bar .menu li,.footer{
  background:#1E1E1E;
}


.slide{
  height:160px;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

#slide-1{  
  background: url('https://0.s3.envato.com/files/18322279/01_Background1.jpg')no-repeat center fixed;}
#slide-2{
  background: url('https://0.s3.envato.com/files/18322279/01_Background1.jpg')no-repeat center fixed;}

#slide-3{  
  background: url('https://0.s3.envato.com/files/18322279/01_Background1.jpg')no-repeat center fixed;}

#slide-4{  
  background: url('https://0.s3.envato.com/files/18322279/01_Background1.jpg')no-repeat center fixed;}

#slide-5{
  background: url('https://0.s3.envato.com/files/18322279/01_Background1.jpg')no-repeat center fixed;}


@keyframes scroller{
  0%{
    background:#5b5f64;
  } 
  45%{
    background:#5b5f64;
    transform:scale(1.1);
    } 
  100%{
    background:#5b5f64;
    transform:scale(1);}
}


@-moz-keyframes scroller{
  0%{
    background:#5b5f64;
} 
  45%{
    background:#5b5f64;
    transform:scale(1.1);
} 
  100%{
    background:#5b5f64;
    transform:scale(1);}
}
@-webkit-keyframes scroller{
  0%{
    background:#5b5f64;
} 
  45%{
    background:#5b5f64;
    transform:scale(1.1);
} 
  100%{
    background:#5b5f64;
    transform:scale(1);
}

@-ms-keyframes scroller{
  0%{
  background:#5b5f64;
} 
  45%{
  background:#5b5f64;
  transform:scale(1.1);
} 
  100%{
  background:#5b5f64;
  transform:scale(1);}
}
.scroller{
  display:block;
  padding-top:8px;
  margin:5% auto 2% auto;
  width:32px;
  height:24px;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  -o-border-radius:100px;
  border-radius:100px;
  -webkit-animation: scroller 1s linear infinite;
  -moz-animation: scroller 1s linear infinite;
  -ms-animation: scroller 1s linear infinite;
  animation: scroller 1s linear infinite;}
.scroller:hover{
  cursor:pointer;
}

.scroll-arrow{
  float:left;
  width:16px;
  height:2px;
  background: #FFF;
}

.scroll-arrow#scrollleft{
  transform-origin: top right;
  transform: rotate(-45deg);
}
.scroll-arrow#scrollright{
  transform-origin: top left;
  transform: rotate(45deg);
}